.card {
    background-color: rgba(0, 0, 0, 0.815);
    text-align: center;
}

#accordionBody {
    background-color: rgba(214, 205, 205, 0.938);
    color: black;
    text-align: center;
}
#QA{
    background-color: rgba(160, 99, 30, 0.548);
}

#center{
    align-content: center;
    text-align: center;
}