.card {
    background-color: rgb(26, 5, 5);
    text-align: center;
}

#accordionBody {
    background-color: white;
    color: black;
    text-align: center;
}
#QA{
    background-color: rgba(160, 99, 30, 0.356);
}