#button{
    text-align: center;
    margin-top: 60px;
}

h2, h6, h5, h1, h3{
    text-align: center;
    align-content: center;
}

#covid{
    background-color: rgba(0, 0, 0, 0.692);
    align-self: flex-end;
    color: rgb(253, 1, 1); 
    text-align: center;
}

#banner{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 50px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(https://c1.wallpaperflare.com/preview/747/563/583/atlas-close-up-dark-dirty.jpg);
}