#blocks {
text-align: center;
}


#niche {
    text-align: center;
    align-content: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(https://cdn1.epicgames.com/ue/product/Screenshot/15-1920x1080-f7af76f61ecf8e22c6251c8f734a6ae5.jpg?resize=1&w=1600);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
}

h1{
    color: gold;
}
#img{
    background: url(https://cached.imagescaler.hbpl.co.uk/resize/scaleWidth/888/cached.offlinehbpl.hbpl.co.uk/news/ORP/boardroom_large-20191127063116978.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:510px;
    margin-top: 80px;
    margin-bottom: 80px;
}
