#serviceImg3{
    background: url(https://img2.cgtrader.com/items/1019808/d85b11522a/modern-office-space-3d-model-max.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:435px;
    margin-top: 80px;
    margin-bottom: 80px;
}
#otherAreas{
text-align: center;
align-content: center;
}