#profilePic {
  background-repeat: no-repeat;
  position: center;
  margin-top: 250px;   
}

#band {
  background-color: rgba(22, 11, 11, 0.801);
  border: solid 1px black;
}
#band1 {
  background-color: rgb(26, 5, 5);
  border: solid 1px black;
}