#logo {
  float: left;
  max-height: 90px;
  max-width: 90px;
}

#logoText{
  font-family: 'Sansita Swashed', cursive;
}

@media only screen and (max-width:768px) {
  .navbar-brand {
    max-width: 100px;
  }
  /* below is for the demo but might help you position 
  the hamburger menu on mobile */
  .navbar-toggler {
    right: 0;
    position: absolute;
    margin: 10px;
  }
}