body {
   background-color: rgba(129, 97, 59, 0.726);
    color: rgb(44, 42, 42);
    font-family: 'Jacques Francois', serif;
    font-size: 16px;
    }

    @media (max-width: 768px) {
      #siteLogo {
            display: none;
      }
}